//@import url('https://fonts.googleapis.com/css?family=Montserrat');
//'Montserrat',

$main-color: #ff3d00;
$secondary-color: #2c3e50;
$color-app: #fafafa;
body, html {
  height: 100%;
}

body {
  background: -webkit-radial-gradient(85% 10%, #dcdcdc, #b0b0b0, #a6a9ad);
  background: radial-gradient(at 85% 10%, #dcdcdc, #b0b0b0, #a6a9ad);
  margin: 0px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $secondary-color;
}

html {
  scroll-behavior: smooth;
}

.el-main {
  padding: 0px;
  margin-top: -60px;
}

.is-bold {
  font-weight: bold;
}

.buttonGo {
  background-color: $color-app;
  width: 100%;
  text-transform: uppercase;
  color: $main-color !important;
}

.buttonGo:hover {
  width: 100%;
  background-color: $main-color;
  color: $color-app !important;
}

.go {
  color: $main-color;
  top: -1px;
  position: relative;
}

.margin-container {
  margin-top: 80px;
}

.section-container {
  position: absolute;
  height: inherit;
  width: 100%;
}

.left-title-container {
  background-color: white;
  float: left;
  width: 50px;
  height: 100%;
}

.left-title-container img {
  top: calc(50% - 100px);
  position: relative;
}

.right-container {
  float: right;
  background-color: #e6e6e7;
  position: relative;
  height: inherit;
  width: calc(100% - 50px);
}

.content-container {
  margin-top: 80px;
}

.go-color {
  color: $main-color
}

.go-text {
  text-align: left;
}
.el-carousel__container{
  height: 100% !important;
}
.carousel-index{
  position: absolute;
  width: calc(100% - 160px);
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 103px;
  height: calc(35% - -103px);
}
/* ----------- Large Screens ----------- */
@media (min-width: 1500px) {
  #app {
    width: 1440px;
    position: relative;
    left: calc(1440px / -2);
    margin-left: 50%;
  }

}

