@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
  color: #58595b;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 2.2em;
}

.mT20 {
  margin-top: 20px
}

.mT80 {
  margin-top: 80px
}

.md-only {
  display: block;
}

.xs-only {
  display: none;
}

.vs-con-items {
  right: 10px !important;
  position: relative !important;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center;
}

.card-row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 780px;
  width: 100%;
  height: 500px;
}

.card {
  position: relative;
  height: 370px;
  width: 240px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  transition: height 0.3s, box-shadow 0.3s;
}

.card:hover {
  height: 410px;
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.5);
}

.card-image {
  position: absolute;
  left: -9999px;
  right: -9999px;
  margin: auto;

  height: 420px;
  min-width: 100%;
  transition: height 0.3s, opacity 0.3s;
}

.card-image.selected {
  height: 420px;
  opacity: 0.3;
}

.card-footer {
  position: absolute;
  bottom: 0;
  height: 80px;
  padding: 10px 15px;
  background-color: rgba(0,0,0,.8);
  width: 100%;
  color:white;
}

.card-text {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.card-title {
  font-family: 'Roboto', sans-serif;
}

.card-author {
  font-size: 14px;
  transition: color 0.3s;
}

.card-author.selected {
}

@media (max-width: 800px) {
  .xs-only {
    display: block;
  }
  .md-only {
    display: none;
  }
  .mT20, .mT80{
    margin-top: 10px;
  }
  .card-footer {
    height: 100px;
  }
}
@media (max-width: 600px) {
  .vs-navbar--item a {
    padding: 24px 46% !important;
  }
}